* {
    color: white;
}
body {
    background-color: #363940;
}
.log {
    color: white;
    background: url(../assets/fond_acceuil2.jpg);
    margin: 0, 0, 0, 0;
    height: 1088px;
    margin-top: 0;
}

.simple {
    background-color: #363940;
    margin: 0, 0, 0, 0;
    height: 10000px;
    margin-top: 0;
}

#navbar {
    background-image: url("../img/platform.png");
    background-size: 750px;
}
#navbar li {
    margin-left: 20%;
}

#gameDiv {
    padding-top: 7.5%;
}

#scoreboard {
    padding-top: 1%;
}

#logoHomePage{
    width: 12%;
    height: auto;
}

form {
    display: block;
    background-color: #212529;
    border-radius: 10px;
    box-shadow: 6px 6px 6px black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    
    
    
    
}
input{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 40%;
}
table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

footer {
    text-align: center;
    padding-top: 15px;
    background-image: url("../img/platform.png");
    background-size: 750px;
    height: 50px;
}

#textFooter {
    opacity: 0.8;
}

#page {
    margin-left: 25%;
    margin-right: 25%;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
}

.titre {
    text-align: center;
    font-size: 65px;
}

#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
